.maintenance {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.2)
}

.button-container {
    display: flex;
    margin: 8px;
    align-self: center;
}

button {
    border: 1px solid;
}

th,
td {
    text-align: center;
    align-items: center;
}

th{
    font-weight: bold;
}